.page_title {
    text-align: center;
}

.posts {
    display: flex;
    flex-direction: column;
}
.post {
    margin-top: 15px;
    padding: 15px;
    display: flex;
    flex-direction: column; 
}
.post_title {
    text-align: center;
}
.post_line {
    margin-top: 5px;
}
