.btn {
    border: thin solid red; 
    background-color: red;
    color: white;
    border-radius: 15px;
    padding: 8px;
    width: fit-content;;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
 }