* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}
header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #000000a3;
}
.main {
    margin-top: 15%;
    margin-bottom: 25px;
    padding: 0 15px;
}

img {
    display: block;
    width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}
form {
    text-align: center;
}
form input,
form textarea {
    width: 50%;
    margin-bottom: 10px;
    border-radius: 20px;
    height: 35px;
    padding-left: 8px;
}
input[type='submit'] {
    cursor: pointer;
}
h1 {
    text-align: center;
}