.header {
    display: flex;
    justify-content: center;
    padding: 15px;
    text-align: center;
}
.header_nav {
    display: flex;
    /* width: 70%; */
    justify-content: space-around;
}
.header_nav-item {
    border: thin solid black;
    border-radius: 15px;
    padding: 10px;
    cursor: pointer;
    margin-right: 8px;
    height: 35%;

}
.header_nav-item a {
    color: black;
}
.custom_alert {
    display: none;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-size: 16px;
    text-align: center;
}
.custom_alert.show {
    display: block;
}