.car_info {
    margin: 15px;
}
.car_info-wrapper {
    display: flex;
}
.current_car-name {
    padding-right: 10px;
}
.current_car {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-right: 20px;
    padding: 8px;
    background: hsl(192.08deg 23.26% 72.81%);
    border: thin solid black;
}
.current_car form {
    margin-top: 15px;
    text-align: left;
}
.current_car form select {
    margin-top: 7px; 
    border-radius: 25px;
}
.current_car-img {
    width: 70%
}
.current_car-list-item {
    margin-top: 15px;
    padding: 0 15px;
    list-style: none;
}
.add_car_home {
    padding: 10px;
    margin: 15px 0;
    align-self: center;
}
.index_other-sections {
    display: flex;
    justify-content: space-between;
    margin: 15px;
}
.album {
    text-align: center;
    margin: 15px;
}
.random_cars_slider {
    margin: 20px 0;
    position: relative;
    background-color: #000000bd;
}
.random_car-img {
    display: none;
    justify-content: center;
}
.random_car-img img {
    width: 100%;
    max-width: 900px;
    height: 400px;
    object-fit: cover;
}
.random_car-img.active {
    display: flex;
}
.not_logged_in_title_home {
    text-align: center;
}
.prev-button, .next-button {
    position: absolute;
    top: 50%;
    z-index: 1000;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
}
.next-button {
    right: 20px;
}
.prev-button {
    left: 20px;
}