{% extends 'base.html' %}

{% block title %}
    All entries
{% endblock %}
{% block body %}
<div id="sort_container">
    <h5>Sort entries:</h5>
    <select id="sort_entries">
        <option selected></option>
        <option class="sort_entries_option" value="place">Place</option>
        <option class="sort_entries_option" value="cost">Cost</option>
        <option class="sort_entries_option" value="date">Date</option>
    </select>
</div>


</select>
    <div class="all-entries_container">
        <h1 class="page_title">All entries</h1>
        <div class="posts">
            {% if posts|length > 0 %}
                {% for el in posts %}
                    <div class="post">
                        <div class="post_right_table">
                            <h3 class="post_title">{{ el["title"] }}</h3>
                        </div>
                        <div class="post_left_table">
                            <span>Place: <span class="post_line place">{{ el["place"] }}</span></span>
                            <span>Cost: <span class="post_line cost">{{ el["cost"] }}</span></span>
                            <span class="post_line"></span>Mileage: {{ el["mialadge"]}}</span>
                            <span class="post_line"></span>Comment: {{ el["text"] }}</span>
                            <span>Date: <span class="post_line date">{{ el["date"] }}</span></span>
                            {% if g.current_user %}
                                <span>Owner: {{ g.current_user["email"]}}</span>
                            {% else %}
                            <span>No Owner</span>
                            {% endif %}
                        </div>
                        
                        
                        <a href="/post/{{ el['id'] }}" class="btn post_details_btn">Details</a>
                    </div>
                    <hr>
                {% endfor %}
            {% else %}
            <span>You have no entries yet</span>
            {% endif %}
        </div>
    </div>
{% endblock %}