<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>{% block title %} {% endblock %}</title> 
</head>
<body>
    <header class="header">
        <ul class="header_nav">
            <li class="header_nav-item"><a href="/">Home</a></li>
            <li class="header_nav-item"><a href="/all-entries">All entries</a></li>
            <li class="header_nav-item"><a href="/add-entrie">Add entrie</a></li>
            <li class="header_nav-item"><a href="/login">Sign in</a></li>
            <li class="header_nav-item"><a href="/register">Register</a></li>
            
        </ul>
    </header>
    <hr>
    {% block body %}{% endblock %}
    <hr>
    <footer class="footer">
        <span class="footer_title">This app will help you to keep your car in proper shape</span>
    </footer>
    
</body>
</html>