{% extends 'base.html' %}
{% block title %}
Car Maintainance Diary
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="car_info">
        <div class="car_info-wrapper">
            <div class="current_car">
                <span class="current_car-name">Your current car is</span>
                {% if car %}
                <!-- <p>{{ el }}</p> -->
                <li class="current_car-list-item">Make: {{ car.make }}</li>
                <li class="current_car-list-item">Model: {{ car.model }}</li>
                <li class="current_car-list-item">Year: {{ car.year }}</li>
                <li class="current_car-list-item">Engine: {{ car.engine }}</li>
                <li class="current_car-list-item">Mialadge: {{ car.mialadge }} km</li>
                <li class="current_car-list-item">Next Oil change in: </li>
                {% endif %}
            </div>
            <div class="current_car-img">
                <img src="/static/img/land_rover_range_rover_vogue_108581_1280x960.jpg" alt="Your car">
            </div>
        </div>
    </div>
    <div class="index_other-sections">
        <div class="latest_entries">
        <h2>Latest entries</h2>
    </div>
    <div class="scheduled_works">
        <h2>Scheduled works</h2>
    </div>
    <div class="jbservations">
        <h2>Observations</h2>
    </div>
    </div>
    <div class="album">
        <h2>Album</h2>
    </div>
    {% endblock %}