{% extends 'base.html' %}
{% block title %}
Car Maintainance Diary
{% endblock %}

{% block body %}

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <h1 class="page_title">Home</h1>
    {% if g.current_user %}
        <div class="car_info">
            <div class="car_info-wrapper">
                <div class="current_car">
                    {% if current_car %}
                    <span class="current_car-name">Current car info:</span>
                    <!-- <p>{{ el }}</p> -->
                    <li class="current_car-list-item">Make: {{ current_car.make }}</li>
                    <li class="current_car-list-item">Model: {{ current_car.model }}</li>
                    <li class="current_car-list-item">Year: {{ current_car.year }}</li>
                    <li class="current_car-list-item">Engine: {{ current_car.engine }}</li>
                    <li class="current_car-list-item">Mialadge: {{ current_car.mialadge }} km</li>
                    <li class="current_car-list-item">Next Oil change in: </li>
                    {% endif %}
                    <form action="{{ url_for('set_current_car') }}" class="form" id="change_vehicle_form" method="post">
                        <label for="user_cars">Choose current car</label>
                        <select id="user_cars" name="user_cars" onchange="this.form.submit()">
                            {% for s_car in all_cars %}
                                <option id="{{ s_car.body_marking }}" value="{{ s_car.car_id }}" {% if s_car.current %}selected{% endif %}>{{ s_car.make }} {{ s_car.model }} {{ s_car.year }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <a href="/add-vehicle" class="btn add_car_home">Add vehicle</a>
                </div>
                <div class="current_car-img">
                    <img id="current_car_img" src="/static/img/default_brand/{{ current_car.body_marking }}.jpg" alt="Your car">
                    <p id="loadingMsg" style="display: none;">Loading image...</p>
                </div>
            </div>
        </div>
    <div class="index_other-sections">
        <div class="latest_entries">
        <h2>Latest entries</h2>
    </div>
    <div class="scheduled_works">
        <h2>Scheduled works</h2>
    </div>
    <div class="jbservations">
        <h2>Observations</h2>
    </div>
    </div>
    <div class="album">
        <h2>Album</h2>
    </div>
    <div class="other_users_posts">
        <h3 class="not_logged_in_title_home">See vehicles our clients posted</h3>
        <div class="random_cars_slider">
            <div class="random_car-img active">
                <img src="/static/img/land_rover_range_rover_vogue_108581_1280x960.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/audi-s8-d3.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/e60_m5.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/bmw-f10-m5.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/l322.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/rivian_t1s.jpg" alt="Random car">
            </div>
            <button id="prev-button" class="prev-button">&#10094;</button>
            <button id="next-button" class="next-button">&#10095;</button>
        </div>
    </div>
    {% else %}
        <h3 class="not_logged_in_title_home">See vehicles our clients posted while you are not logged in</h3>
        <div class="random_cars_slider">
            <div class="random_car-img active">
                <img src="/static/img/land_rover_range_rover_vogue_108581_1280x960.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/audi-s8-d3.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/e60_m5.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/bmw-f10-m5.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/l322.jpg" alt="Random car">
            </div>
            <div class="random_car-img">
                <img src="/static/img/rivian_t1s.jpg" alt="Random car">
            </div>
            <button id="prev-button" class="prev-button">&#10094;</button>
            <button id="next-button" class="next-button">&#10095;</button>
        </div>
    {% endif %}
    {% endblock %}