{% extends 'base.html' %}

{% block title %}
Entry info
{% endblock %}

{% block body %} 
    <div class="post">
        <h3>{{ post["title"] }}</h3>
        <div class="post_container">
            <div class="post_line-block">
                <span class="post_left-block">Place: </span>
                <span class="post_right-block">{{ post["place"]  }}</span><br>
            </div>
            <div class="post_line-block">
                <span class="post_left-block">Cost: </span>
                <span class="post_right-block">{{ post["cost"] }}</span><br>
            </div>
            <div class="post_line-block">
                <span class="post_left-block">Mialadge: </span>
                <span class="post_right-block">{{ post["mialadge"]}}</span><br>
            </div>
            <div class="post_line-block">
                <span class="post_left-block">MSG: </span>
                <span class="post_right-block">{{ post["text"] }}</span><br>
            </div>
        </div>
        <div class="post_date">
            <span>{{ post["date"] }}</span><br>
        </div>
        <div class="post_bottom">
            <a href="/post/{{ post['id'] }}/edit" class="btn post_btn">Edit</a>
            <a href="/post/{{ post['id'] }}/delete" class="btn post_btn">Delete</a>
        </div>
        
    </div>
    
{% endblock %}